<!DOCTYPE html>
<html>
  <head>
    <title>Chartworld</title>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> %>
    <%# <%= csrf_meta_tags %> 
    <%# <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      // (function() {
      //   var wf = document.createElement('script');
      //   wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      //     '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      //   wf.type = 'text/javascript';
      //   wf.async = 'true';
      //   var s = document.getElementsByTagName('script')[0];
      //   s.parentNode.insertBefore(wf, s);
      // })();
    </script> %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Chartworld</a></h1>
        <div class="user_nav grid-6">
          <div class="howto">使い方</div>
          <a class="post" href="/charts/new">投稿</a>
        </div>
      </div>
    </header>
      <div id="fly-in">  
        <div><span>ようこそ</span>Cinematic</div>
        <div>Fade Away<span>into the distance</span></div>
        <div>Still Loops <span> for eternity</span></div>
        <div><span>Just CSS</span> and HTML</div>
        <%# <div><span>Very</span>Cinematic</div>
        <div>Fade Away<span>into the distance</span></div>
        <div>Still Loops <span> for eternity</span></div>
        <div><span>Just CSS</span> and HTML</div> %>
      </div>
    <div class="contents row">
     <% @charts.each do |chart| %>
      <div class="content_post" style="image: url(<%= chart.image %>);">
        <div class="more">
          <%# <span><%= image_tag 'arrow_top.png' %></span> 
           <ul class="more_list">
            <li>
              <%= link_to '編集', "/charts/#{chart.id}/edit", method: :get %>
            </li> 
            <li>
              <%= link_to '削除', "/charts/#{chart.id}", method: :delete %>
            </li>
        </ul>
      </div>
      <%= simple_format(chart.text) %>
      <span class="name">
        <%= chart.name %>
      </span>
    </div>
  <% end %>
</div>

    <%= yield %>

    <footer>
      <p>
        Copyright ChartWorld.
      </p>
    </footer>
  </body>
</html>
