    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Chartworld</a></h1>
          <% if user_signed_in?%>
           <div class="user_nav grid-6">
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
             <%= link_to "投稿", "/charts/new", class: "post" %>
             <%# <div class="howto">使い方</div> %>
          <% else %>
            <div class="grid-6">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            </div>
          <% end %>
        </div>
      </div>
    </header><div class="contents">
  <div class="container">
    <%= form_for @chart do |form| %> 
      <h3>
        投稿する
      </h3>
      <%= form.text_field :name, placeholder: "Nickname" %>
      <%= form.text_field :image, placeholder: "FXチャートのスクショを貼ってください" %>
      <%= form.text_area :text, placeholder: "通過ペア　日にち" , rows: "10" %>
      <%= form.submit "SEND"%>
    <% end %>
  </div>
</div>