<div class="contents">
  <div class="container">
    <%= form_for @chart do |form| %> 
      <h3>
        投稿する
      </h3>
      <%= form.text_field :name, placeholder: "Nickname" %>
      <%= form.text_field :image, placeholder: "FXチャートのスクショを貼ってください" %>
      <%= form.text_area :text, placeholder: "通過ペア　日にち" , rows: "10" %>
      <%= form.submit "SEND"%>
    <% end %>
  </div>
</div>